###############################################################
# DEPENDÊNCIAS
###############################################################
node_modules/
.pnp/
.pnp.js

###############################################################
# BUILDS E TESTES
###############################################################
build/
dist/
coverage/

# Pastas de build específicas
frontend/build/
backend/dist/
backend/node_modules/
frontend/node_modules/

###############################################################
# VARIÁVEIS DE AMBIENTE
###############################################################
.env
.env.*
!.env.example  # mantém o modelo de exemplo, se existir

###############################################################
# LOGS
###############################################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

###############################################################
# SISTEMA OPERACIONAL
###############################################################
.DS_Store
Thumbs.db
desktop.ini
Icon?
